  <header>
     <a href="#/">SRCommunications</a>
     <a *ngIf="showMenu" (click)="logout()" class="logout"><span class="glyphicon glyphicon-log-out">Logout</span></a>
  </header>  
  <nav *ngIf="showMenu" class="navbar navbar-default">
    <ul class="nav navbar-nav">
       <li class="dropdown">
         <a  href="#" class="dropdown-toggle" data-toggle="dropdown">Master<b class="caret"></b></a>
         <ul class="dropdown-menu">
              <li><a routerLink="/itemmaster">ItemEntry</a></li>
              <li><a routerLink="/stockentry">StockEntry</a></li>
          </ul>
       </li>
       <li class="dropdown">
          <a  href="#" class="dropdown-toggle" data-toggle="dropdown">InterNet<b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a routerLink="/newuser">UserInformation</a></li>
              <li><a routerLink="/system">System</a></li>
          </ul>  
       </li>
        <li class="dropdown">
          <a  href="#" class="dropdown-toggle" data-toggle="dropdown">Bill Information<b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a routerLink="/billentry">Bill Entry</a></li>
          </ul>  
       </li>
    </ul>
  </nav>
   <router-outlet></router-outlet>
