<div class="panel panel-primary">
  <div class="panel-heading">
      <h1 class="panel-title">ItemMaster</h1>
  </div>
  <div class="panel-body">
	  <div class="alert alert-warning"><strong>Warning!</strong>{{errorMsg}}</div>
	  <form [formGroup]="itemMasterForm" (ngSubmit)="save(itemMasterForm)" class="form-horizontal">
		    <input  type="hidden" formControlName="itemId" /> 
			<div class="form-group">
				<label  for="itemCode" class="col-xs-2">ItemCode</label>
				<div class="col-xs-10">
					<input  type="text" formControlName="itemCode" class="form-control" id="itemCode" placeholder="ItemCode" />
				</div>
			</div>
			<div class="form-group">
				<label  for="itemName" class="col-xs-2">ItemName</label>
				<div class="col-xs-10">
					<input  type="text" formControlName="itemName"  class="form-control" id="itemName" placeholder="ItemName"  />
				</div>
			</div>
			<div class="form-group">
				<label  for="itemDesc" class="col-xs-2">Description</label>
				<div class="col-xs-10">
					<textarea class="form-control" formControlName="itemDesc" name="itemDesc" id="itemDesc" placeholder="Your Comments"></textarea>
				</div>
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				<button type="submit" class="btn btn-primary">Submit </button> 
				<button type="button" class="btn btn-default" (click)="onReset()">Reset</button>
			</div>
	       
		</form>
	 </div>
	  <datatable  [rows]="rows" [columns]="columns" [itemlist]="itemMasters" [iseditable]=true  (selectedRow)="callbackfn($event)"></datatable>
</div>
